<div class="container py-5">
  <div class="card shadow">
    <div class="card-body">

      <h3 class="mb-4">Release Document Generator</h3>

      <form [formGroup]="form">

        <div class="mb-3">
          <label class="form-label">Select Project</label>
          <select class="form-select" formControlName="projectId">
            <option value="">-- Select Project --</option>
            <option *ngFor="let p of projects" [value]="p.id">
              {{ p.name }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Version</label>
          <input class="form-control"
                 formControlName="version"
                 placeholder="DS940.0.1">
        </div>

        <button type="button"
                class="btn btn-primary"
                (click)="downloadDoc()">
          Generate Document
        </button>

      </form>

    </div>
  </div>
</div>
